body {
    background-image: url(https://th.bing.com/th/id/R.2b5b5c5536fd936c8afd605dbf88c696?rik=1YEi%2bV%2fEJjYyCw&riu=http%3a%2f%2fimg2.wikia.nocookie.net%2f__cb20141106230719%2fleagueoflegends%2fimages%2fd%2fd3%2fSummoners_rift_platform.png&ehk=fIcIQMx%2b6h3Siu5y0hTH1tLska0WrKfEiOa70zTc%2fEs%3d&risl=1&pid=ImgRaw&r=0);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;

}

main {
    -webkit-text-fill-color: rgb(40, 255, 2);
    text-shadow: 3px 3px 3px black;
}

main .moon {
    cursor: grab;
}

main .moon:active {
    background-image: url();
    height: 100%;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    transform: scale(1.1);
    transition: 100ms;
    cursor: grabbing;
}
    
 img {
    background-size: contain;
}

.champion-img button {
    background-image: url(https://tse3.mm.bing.net/th/id/OIP.WWkkg5jmQG6HoEcLnB31hgHaEK?rs=1&pid=ImgDetMain&o=7&rm=3);
    background-position: right;
    background-size: cover;
    text-shadow: 3px 3px 3px black;
}

.heart button {
    background-image: url(https://tse2.mm.bing.net/th/id/OIP.v8aZVI7PdY35QvRiDmXYFgAAAA?rs=1&pid=ImgDetMain&o=7&rm=37);
    background-position: center;
    text-shadow: 3px 3px 3px black;
}